<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>R_A</string>
      <string>uni25B3</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>uni1E9E</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.C.alt</key>
    <array>
      <string>C.alt</string>
      <string>Cacute.alt</string>
      <string>Ccaron.alt</string>
      <string>Ccedilla.alt</string>
      <string>Ccircumflex.alt</string>
      <string>Cdotaccent.alt</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>uni1EBC</string>
      <string>OE</string>
      <string>AE.ss06</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>uni0122</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>uni0145</string>
      <string>Ntilde</string>
      <string>paragraph.case</string>
      <string>uni27F3</string>
      <string>uni25A1</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>IJ</string>
      <string>J</string>
      <string>uni004A0301</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>uni0136</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>uni013B</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>Lacute.alt</string>
      <string>Lcaron.alt</string>
      <string>uni013B.alt</string>
      <string>Ldot.alt</string>
      <string>Lslash.alt</string>
    </array>
    <key>public.kern1.L.alt</key>
    <array>
      <string>L.alt</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>uni018F</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>estimated</string>
      <string>uni27F2</string>
      <string>circle</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>Thorn</string>
    </array>
    <key>public.kern1.Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>uni0156</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>uni0218</string>
      <string>R_S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
      <string>R_X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>R_Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>uni0123</string>
      <string>gdotaccent</string>
      <string>a.ss07</string>
      <string>aacute.ss07</string>
      <string>abreve.ss07</string>
      <string>acircumflex.ss07</string>
      <string>adieresis.ss07</string>
      <string>agrave.ss07</string>
      <string>amacron.ss07</string>
      <string>aogonek.ss07</string>
      <string>aring.ss07</string>
      <string>atilde.ss07</string>
    </array>
    <key>public.kern1.a.fina</key>
    <array>
      <string>a.fina</string>
      <string>aacute.fina</string>
      <string>abreve.fina</string>
      <string>acircumflex.fina</string>
      <string>adieresis.fina</string>
      <string>agrave.fina</string>
      <string>amacron.fina</string>
      <string>aogonek.fina</string>
      <string>aring.fina</string>
    </array>
    <key>public.kern1.a.ss02</key>
    <array>
      <string>atilde.fina</string>
    </array>
    <key>public.kern1.asterism</key>
    <array>
      <string>uni2042</string>
    </array>
    <key>public.kern1.at</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern1.backslash</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern1.backslash.case</key>
    <array>
      <string>backslash.case</string>
    </array>
    <key>public.kern1.bar</key>
    <array>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern1.braceleft.case</key>
    <array>
      <string>braceleft.case</string>
    </array>
    <key>public.kern1.braceright</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern1.braceright.case</key>
    <array>
      <string>braceright.case</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>semicolon</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eth</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>uni1EBD</string>
      <string>oe</string>
      <string>e.ss03</string>
      <string>eacute.ss03</string>
      <string>ecaron.ss03</string>
      <string>ecircumflex.ss03</string>
      <string>edieresis.ss03</string>
      <string>egrave.ss03</string>
      <string>emacron.ss03</string>
      <string>eogonek.ss03</string>
      <string>uni1EBD.ss03</string>
      <string>e.ss04</string>
      <string>eacute.ss04</string>
      <string>ecaron.ss04</string>
      <string>ecircumflex.ss04</string>
      <string>edieresis.ss04</string>
      <string>egrave.ss04</string>
      <string>emacron.ss04</string>
      <string>eogonek.ss04</string>
      <string>uni1EBD.ss04</string>
      <string>ae.ss05</string>
    </array>
    <key>public.kern1.e.fina</key>
    <array>
      <string>e.fina</string>
      <string>eacute.fina</string>
      <string>ecaron.fina</string>
      <string>ecircumflex.fina</string>
      <string>edieresis.fina</string>
      <string>egrave.fina</string>
      <string>emacron.fina</string>
      <string>eogonek.fina</string>
      <string>uni1EBD.fina</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern1.eight.lf</key>
    <array>
      <string>eight.lf</string>
    </array>
    <key>public.kern1.exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f.ss02</string>
      <string>f_f.ss01</string>
      <string>s_s.ss02</string>
      <string>uni25CC</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern1.five.lf</key>
    <array>
      <string>five.lf</string>
    </array>
    <key>public.kern1.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern1.four.lf</key>
    <array>
      <string>four.lf</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guilsinglleft.case</key>
    <array>
      <string>guillemotleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.guilsinglright.case</key>
    <array>
      <string>guillemotright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>hbar</string>
      <string>hcircumflex</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>B_i</string>
      <string>M_i</string>
      <string>S_i</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>i.loclTRK</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>fi</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>ij</string>
      <string>j</string>
      <string>uni0237</string>
      <string>uni006A0301</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>uni0137</string>
      <string>k.ss08</string>
      <string>uni0137.ss08</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>uni013C</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>fl</string>
      <string>l_l</string>
    </array>
    <key>public.kern1.literSign</key>
    <array>
      <string>uni2113</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>uni0146</string>
      <string>ntilde</string>
      <string>p</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>o_n</string>
      <string>q_u</string>
      <string>t_h</string>
      <string>p_p.ss01</string>
      <string>uni25FB</string>
    </array>
    <key>public.kern1.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern1.nine.lf</key>
    <array>
      <string>nine.lf</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>uni0259</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>thorn</string>
      <string>b.ss02</string>
      <string>c_c</string>
      <string>uni26AA</string>
    </array>
    <key>public.kern1.o.fina</key>
    <array>
      <string>o.fina</string>
      <string>oacute.fina</string>
      <string>ocircumflex.fina</string>
      <string>odieresis.fina</string>
      <string>ograve.fina</string>
      <string>ohungarumlaut.fina</string>
      <string>omacron.fina</string>
      <string>oslash.fina</string>
      <string>otilde.fina</string>
    </array>
    <key>public.kern1.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern1.one.lf</key>
    <array>
      <string>one.lf</string>
    </array>
    <key>public.kern1.paragraph</key>
    <array>
      <string>paragraph</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>colon</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
      <string>q.ss07</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteleft.case</key>
    <array>
      <string>quotedblleft.case</string>
      <string>quoteleft.case</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
    </array>
    <key>public.kern1.quoteright.case</key>
    <array>
      <string>quotedblright.case</string>
      <string>quoteright.case</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>uni0219</string>
      <string>s_s</string>
    </array>
    <key>public.kern1.s.fina</key>
    <array>
      <string>s.fina</string>
      <string>sacute.fina</string>
      <string>scaron.fina</string>
      <string>scedilla.fina</string>
      <string>scircumflex.fina</string>
      <string>uni0219.fina</string>
      <string>s_s.fina</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.seven.lf</key>
    <array>
      <string>seven.lf</string>
    </array>
    <key>public.kern1.six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern1.six.lf</key>
    <array>
      <string>six.lf</string>
    </array>
    <key>public.kern1.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern1.slash.case</key>
    <array>
      <string>slash.case</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
      <string>s_t</string>
    </array>
    <key>public.kern1.three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern1.three.lf</key>
    <array>
      <string>three.lf</string>
    </array>
    <key>public.kern1.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern1.two.lf</key>
    <array>
      <string>two.lf</string>
    </array>
    <key>public.kern1.u.fina</key>
    <array>
      <string>u.fina</string>
      <string>uacute.fina</string>
      <string>ubreve.fina</string>
      <string>ucircumflex.fina</string>
      <string>udieresis.fina</string>
      <string>ugrave.fina</string>
      <string>uhungarumlaut.fina</string>
      <string>umacron.fina</string>
      <string>uogonek.fina</string>
      <string>uring.fina</string>
      <string>utilde.fina</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.v.fina</key>
    <array>
      <string>v.fina</string>
      <string>w.fina</string>
      <string>wacute.fina</string>
      <string>wcircumflex.fina</string>
      <string>wdieresis.fina</string>
      <string>wgrave.fina</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>uni1EF9</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
    </array>
    <key>public.kern1.zero.lf</key>
    <array>
      <string>zero.lf</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>AE.ss06</string>
      <string>uni25B3</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>uni0122</string>
      <string>Gdotaccent</string>
      <string>C.alt</string>
      <string>Cacute.alt</string>
      <string>Ccaron.alt</string>
      <string>Ccedilla.alt</string>
      <string>Ccircumflex.alt</string>
      <string>Cdotaccent.alt</string>
    </array>
    <key>public.kern2.D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>uni1EBC</string>
      <string>F</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>K</string>
      <string>uni0136</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>uni013B</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>uni0145</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>uni0156</string>
      <string>uni1E9E</string>
      <string>L.alt</string>
      <string>Lacute.alt</string>
      <string>Lcaron.alt</string>
      <string>uni013B.alt</string>
      <string>Ldot.alt</string>
      <string>Lslash.alt</string>
      <string>B_i</string>
      <string>M_i</string>
      <string>R_A</string>
      <string>R_S</string>
      <string>R_X</string>
      <string>R_Z</string>
      <string>uni27F2</string>
      <string>uni25A1</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>uni004A0301</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>uni018F</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>estimated</string>
      <string>uni27F3</string>
      <string>circle</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>uni0218</string>
      <string>S_i</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>uni0123</string>
      <string>gdotaccent</string>
      <string>q</string>
      <string>a.fina</string>
      <string>aacute.fina</string>
      <string>abreve.fina</string>
      <string>acircumflex.fina</string>
      <string>adieresis.fina</string>
      <string>agrave.fina</string>
      <string>amacron.fina</string>
      <string>aogonek.fina</string>
      <string>aring.fina</string>
      <string>atilde.fina</string>
      <string>ae.ss05</string>
      <string>a.ss07</string>
      <string>aacute.ss07</string>
      <string>abreve.ss07</string>
      <string>acircumflex.ss07</string>
      <string>adieresis.ss07</string>
      <string>agrave.ss07</string>
      <string>amacron.ss07</string>
      <string>aogonek.ss07</string>
      <string>aring.ss07</string>
      <string>atilde.ss07</string>
      <string>q.ss07</string>
      <string>q_u</string>
    </array>
    <key>public.kern2.asterism</key>
    <array>
      <string>uni2042</string>
    </array>
    <key>public.kern2.at</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern2.backslash</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern2.backslash.case</key>
    <array>
      <string>backslash.case</string>
    </array>
    <key>public.kern2.bar</key>
    <array>
      <string>brokenbar</string>
    </array>
    <key>public.kern2.braceleft</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern2.braceleft.case</key>
    <array>
      <string>braceleft.case</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern2.braceright.case</key>
    <array>
      <string>braceright.case</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>semicolon</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>uni1EBD</string>
      <string>e.fina</string>
      <string>eacute.fina</string>
      <string>ecaron.fina</string>
      <string>ecircumflex.fina</string>
      <string>edieresis.fina</string>
      <string>egrave.fina</string>
      <string>emacron.fina</string>
      <string>eogonek.fina</string>
      <string>uni1EBD.fina</string>
      <string>e.ss03</string>
      <string>eacute.ss03</string>
      <string>ecaron.ss03</string>
      <string>ecircumflex.ss03</string>
      <string>edieresis.ss03</string>
      <string>egrave.ss03</string>
      <string>emacron.ss03</string>
      <string>eogonek.ss03</string>
      <string>uni1EBD.ss03</string>
      <string>e.ss04</string>
      <string>eacute.ss04</string>
      <string>ecaron.ss04</string>
      <string>ecircumflex.ss04</string>
      <string>edieresis.ss04</string>
      <string>egrave.ss04</string>
      <string>emacron.ss04</string>
      <string>eogonek.ss04</string>
      <string>uni1EBD.ss04</string>
    </array>
    <key>public.kern2.eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern2.eight.lf</key>
    <array>
      <string>eight.lf</string>
    </array>
    <key>public.kern2.exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f.ss02</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f.ss01</string>
      <string>p_p.ss01</string>
      <string>uni25CC</string>
    </array>
    <key>public.kern2.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern2.five.lf</key>
    <array>
      <string>five.lf</string>
    </array>
    <key>public.kern2.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern2.four.lf</key>
    <array>
      <string>four.lf</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guilsinglleft.case</key>
    <array>
      <string>guillemotleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern2.guilsinglright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.guilsinglright.case</key>
    <array>
      <string>guillemotright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>k</string>
      <string>uni0137</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>uni013C</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>k.ss08</string>
      <string>uni0137.ss08</string>
      <string>b.ss02</string>
      <string>l_l</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>i.loclTRK</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ij</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>uni0237</string>
      <string>uni006A0301</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2.literSign</key>
    <array>
      <string>uni2113</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>uni0146</string>
      <string>ntilde</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>u.fina</string>
      <string>uacute.fina</string>
      <string>ubreve.fina</string>
      <string>ucircumflex.fina</string>
      <string>udieresis.fina</string>
      <string>ugrave.fina</string>
      <string>uhungarumlaut.fina</string>
      <string>umacron.fina</string>
      <string>uogonek.fina</string>
      <string>uring.fina</string>
      <string>utilde.fina</string>
      <string>uni25FB</string>
    </array>
    <key>public.kern2.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern2.nine.lf</key>
    <array>
      <string>nine.lf</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>eth</string>
      <string>uni0259</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>o.fina</string>
      <string>oacute.fina</string>
      <string>ocircumflex.fina</string>
      <string>odieresis.fina</string>
      <string>ograve.fina</string>
      <string>ohungarumlaut.fina</string>
      <string>omacron.fina</string>
      <string>oslash.fina</string>
      <string>otilde.fina</string>
      <string>c_c</string>
      <string>o_n</string>
      <string>uni26AA</string>
    </array>
    <key>public.kern2.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern2.one.lf</key>
    <array>
      <string>one.lf</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.paragraph</key>
    <array>
      <string>paragraph</string>
    </array>
    <key>public.kern2.paragraph.case</key>
    <array>
      <string>paragraph.case</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>colon</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteleft.case</key>
    <array>
      <string>quotedblleft.case</string>
      <string>quoteleft.case</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.quoteright.case</key>
    <array>
      <string>quotedblright.case</string>
      <string>quoteright.case</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>uni0219</string>
      <string>s.fina</string>
      <string>sacute.fina</string>
      <string>scaron.fina</string>
      <string>scedilla.fina</string>
      <string>scircumflex.fina</string>
      <string>uni0219.fina</string>
      <string>s_s</string>
      <string>s_t</string>
      <string>s_s.fina</string>
      <string>s_s.ss02</string>
    </array>
    <key>public.kern2.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern2.seven.lf</key>
    <array>
      <string>seven.lf</string>
    </array>
    <key>public.kern2.six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern2.six.lf</key>
    <array>
      <string>six.lf</string>
    </array>
    <key>public.kern2.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.slash.case</key>
    <array>
      <string>slash.case</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
      <string>t_h</string>
    </array>
    <key>public.kern2.three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern2.three.lf</key>
    <array>
      <string>three.lf</string>
    </array>
    <key>public.kern2.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern2.two.lf</key>
    <array>
      <string>two.lf</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>v.fina</string>
      <string>w.fina</string>
      <string>wacute.fina</string>
      <string>wcircumflex.fina</string>
      <string>wdieresis.fina</string>
      <string>wgrave.fina</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>uni1EF9</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
    </array>
    <key>public.kern2.zero.lf</key>
    <array>
      <string>zero.lf</string>
    </array>
  </dict>
</plist>
