<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C.alt</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>10</integer>
    </dict>
    <key>exclamdown</key>
    <dict>
      <key>L</key>
      <integer>-10</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
      <key>semicolon</key>
      <integer>30</integer>
    </dict>
    <key>jcircumflex</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
    </dict>
    <key>o.fina</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.five</key>
      <integer>-20</integer>
      <key>public.kern2.four</key>
      <integer>-20</integer>
      <key>public.kern2.six</key>
      <integer>-10</integer>
    </dict>
    <key>parenleft.case</key>
    <dict>
      <key>public.kern2.eight.lf</key>
      <integer>-10</integer>
      <key>public.kern2.four.lf</key>
      <integer>-10</integer>
      <key>public.kern2.six.lf</key>
      <integer>-10</integer>
      <key>public.kern2.zero.lf</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>10</integer>
      <key>public.kern2.e</key>
      <integer>10</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.h</key>
      <integer>10</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>10</integer>
      <key>public.kern2.t</key>
      <integer>15</integer>
      <key>q</key>
      <integer>15</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>10</integer>
      <key>public.kern2.e</key>
      <integer>10</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.h</key>
      <integer>20</integer>
      <key>public.kern2.i</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
      <key>public.kern2.slash.case</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.y</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.U</key>
      <integer>10</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
      <key>public.kern2.i</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>30</integer>
      <key>public.kern2.t</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.D</key>
    <dict>
      <key>colon</key>
      <integer>-20</integer>
      <key>l</key>
      <integer>0</integer>
      <key>public.kern2.D</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-25</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.h</key>
      <integer>10</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.j</key>
      <integer>-5</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>20</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.slash.case</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>semicolon</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>R</key>
      <integer>-5</integer>
      <key>public.kern2.E</key>
      <integer>-5</integer>
      <key>public.kern2.Z</key>
      <integer>10</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>30</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.slash.case</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>colon</key>
      <integer>0</integer>
      <key>l</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>15</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.e</key>
      <integer>-5</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-20</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-90</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright</key>
      <integer>40</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>35</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>public.kern2.slash.case</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-40</integer>
      <key>public.kern2.z</key>
      <integer>-30</integer>
      <key>semicolon</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>l</key>
      <integer>0</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>15</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.h</key>
      <integer>5</integer>
      <key>public.kern2.i</key>
      <integer>10</integer>
      <key>public.kern2.p</key>
      <integer>5</integer>
      <key>public.kern2.quoteright</key>
      <integer>30</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>30</integer>
      <key>public.kern2.t</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>colon</key>
      <integer>-20</integer>
      <key>l</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.backslash.case</key>
      <integer>50</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.e</key>
      <integer>-10</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>30</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.slash.case</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>semicolon</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-15</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
      <key>public.kern2.slash.case</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>Q</key>
      <integer>5</integer>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.C</key>
      <integer>5</integer>
      <key>public.kern2.J</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-5</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
      <key>public.kern2.comma</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>10</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>Q</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>15</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-25</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
      <key>public.kern2.Z</key>
      <integer>30</integer>
      <key>public.kern2.a</key>
      <integer>20</integer>
      <key>public.kern2.e</key>
      <integer>20</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>10</integer>
      <key>public.kern2.h</key>
      <integer>20</integer>
      <key>public.kern2.i</key>
      <integer>10</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>-40</integer>
      <key>public.kern2.slash.case</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>B</key>
      <integer>-10</integer>
      <key>N</key>
      <integer>-10</integer>
      <key>R</key>
      <integer>-15</integer>
      <key>colon</key>
      <integer>-20</integer>
      <key>l</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.backslash.case</key>
      <integer>40</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.exclam</key>
      <integer>-10</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.question</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.slash.case</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>semicolon</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>colon</key>
      <integer>0</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>-15</integer>
      <key>public.kern2.y</key>
      <integer>-15</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>semicolon</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.Q</key>
    <dict>
      <key>colon</key>
      <integer>0</integer>
      <key>public.kern2.J</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>20</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.p</key>
      <integer>10</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>10</integer>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
      <key>public.kern2.slash.case</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>B</key>
      <integer>5</integer>
      <key>L</key>
      <integer>10</integer>
      <key>P</key>
      <integer>10</integer>
      <key>l</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>15</integer>
      <key>public.kern2.E</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.S</key>
      <integer>40</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>6</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>10</integer>
      <key>public.kern2.comma</key>
      <integer>40</integer>
      <key>public.kern2.exclam</key>
      <integer>20</integer>
      <key>public.kern2.f</key>
      <integer>50</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>-10</integer>
      <key>public.kern2.h</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>15</integer>
      <key>public.kern2.p</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>10</integer>
      <key>public.kern2.slash.case</key>
      <integer>20</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.x</key>
      <integer>10</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
      <key>q</key>
      <integer>30</integer>
      <key>question</key>
      <integer>20</integer>
      <key>r</key>
      <integer>0</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>K</key>
      <integer>5</integer>
      <key>L</key>
      <integer>20</integer>
      <key>N</key>
      <integer>5</integer>
      <key>P</key>
      <integer>25</integer>
      <key>Q</key>
      <integer>30</integer>
      <key>public.kern2.A</key>
      <integer>25</integer>
      <key>public.kern2.C</key>
      <integer>20</integer>
      <key>public.kern2.D</key>
      <integer>10</integer>
      <key>public.kern2.I</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>30</integer>
      <key>public.kern2.O</key>
      <integer>5</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.U</key>
      <integer>5</integer>
      <key>public.kern2.Z</key>
      <integer>30</integer>
      <key>public.kern2.comma</key>
      <integer>20</integer>
      <key>public.kern2.exclam</key>
      <integer>10</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>48</integer>
      <key>public.kern2.period</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>B</key>
      <integer>0</integer>
      <key>N</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.C</key>
      <integer>-25</integer>
      <key>public.kern2.D</key>
      <integer>20</integer>
      <key>public.kern2.E</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>15</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.h</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.slash.case</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-25</integer>
      <key>r</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>g</key>
      <integer>-5</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>r</key>
      <integer>-10</integer>
      <key>u</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>S</key>
      <integer>-10</integer>
      <key>colon</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright</key>
      <integer>30</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>30</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.slash.case</key>
      <integer>-40</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-15</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>semicolon</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>Q</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>15</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>25</integer>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
      <key>public.kern2.slash.case</key>
      <integer>-20</integer>
      <key>r</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>Q</key>
      <integer>-15</integer>
      <key>colon</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.C</key>
      <integer>-15</integer>
      <key>public.kern2.D</key>
      <integer>20</integer>
      <key>public.kern2.E</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>25</integer>
      <key>public.kern2.V</key>
      <integer>10</integer>
      <key>public.kern2.X</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.e</key>
      <integer>-10</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.p</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>30</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>30</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>public.kern2.slash.case</key>
      <integer>-40</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>semicolon</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>P</key>
      <integer>15</integer>
      <key>public.kern2.A</key>
      <integer>30</integer>
      <key>public.kern2.C</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.X</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>25</integer>
      <key>public.kern2.comma</key>
      <integer>10</integer>
      <key>public.kern2.guilsinglright.case</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>25</integer>
      <key>public.kern2.quotesingle</key>
      <integer>25</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>colon</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-15</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-10</integer>
      <key>quoteright</key>
      <integer>20</integer>
      <key>semicolon</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.a.fina</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>30</integer>
      <key>public.kern2.period</key>
      <integer>40</integer>
      <key>public.kern2.question</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.a.ss02</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>50</integer>
      <key>public.kern2.exclam</key>
      <integer>20</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>30</integer>
      <key>public.kern2.period</key>
      <integer>40</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.braceleft.case</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.d</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>10</integer>
      <key>public.kern2.slash</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.e.fina</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>70</integer>
      <key>public.kern2.exclam</key>
      <integer>40</integer>
      <key>public.kern2.period</key>
      <integer>60</integer>
      <key>public.kern2.question</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.eight</key>
    <dict>
      <key>public.kern2.seven</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>colon</key>
      <integer>20</integer>
      <key>public.kern2.A</key>
      <integer>30</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.exclam</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.nine</key>
      <integer>-10</integer>
      <key>public.kern2.six</key>
      <integer>-10</integer>
      <key>public.kern2.zero</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.five.lf</key>
    <dict>
      <key>public.kern2.nine.lf</key>
      <integer>-30</integer>
      <key>public.kern2.one.lf</key>
      <integer>-30</integer>
      <key>public.kern2.seven.lf</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.seven</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.four.lf</key>
    <dict>
      <key>public.kern2.eight.lf</key>
      <integer>-5</integer>
      <key>public.kern2.one.lf</key>
      <integer>-10</integer>
      <key>public.kern2.seven.lf</key>
      <integer>-40</integer>
      <key>public.kern2.three.lf</key>
      <integer>-10</integer>
      <key>public.kern2.two.lf</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.guilsinglleft</key>
    <dict>
      <key>public.kern2.D</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-5</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>r</key>
      <integer>-10</integer>
      <key>u</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>10</integer>
      <key>public.kern2.exclam</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>25</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.exclam</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.at</key>
      <integer>20</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.nine.lf</key>
    <dict>
      <key>public.kern2.four.lf</key>
      <integer>10</integer>
      <key>public.kern2.one.lf</key>
      <integer>10</integer>
      <key>public.kern2.seven.lf</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>exclam</key>
      <integer>10</integer>
      <key>public.kern2.comma</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>-10</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.o.fina</key>
    <dict>
      <key>colon</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.one.lf</key>
    <dict>
      <key>public.kern2.four.lf</key>
      <integer>5</integer>
      <key>public.kern2.seven.lf</key>
      <integer>10</integer>
      <key>public.kern2.two.lf</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>colon</key>
      <integer>20</integer>
      <key>comma</key>
      <integer>20</integer>
      <key>public.kern2.comma</key>
      <integer>10</integer>
      <key>public.kern2.exclam</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright</key>
      <integer>30</integer>
      <key>semicolon</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>N</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.quoteleft.case</key>
    <dict>
      <key>M</key>
      <integer>-25</integer>
      <key>N</key>
      <integer>-25</integer>
      <key>Q</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-15</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.quoteright.case</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>colon</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <integer>-10</integer>
      <key>public.kern2.quoteright</key>
      <integer>-10</integer>
      <key>semicolon</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.s.fina</key>
    <dict>
      <key>colon</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.seven</key>
      <integer>-20</integer>
      <key>public.kern2.three</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.six.lf</key>
    <dict>
      <key>public.kern2.nine.lf</key>
      <integer>-20</integer>
      <key>public.kern2.one.lf</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>eight</key>
      <integer>20</integer>
      <key>four</key>
      <integer>-20</integer>
      <key>nine</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-10</integer>
      <key>public.kern2.e</key>
      <integer>10</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.h</key>
      <integer>10</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>50</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>30</integer>
      <key>three</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.slash.case</key>
    <dict>
      <key>D</key>
      <integer>10</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>50</integer>
      <key>public.kern2.V</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>25</integer>
      <key>public.kern2.Z</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>5</integer>
      <key>public.kern2.exclam</key>
      <integer>5</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>30</integer>
      <key>public.kern2.quoteright.case</key>
      <integer>42</integer>
      <key>public.kern2.quotesingle</key>
      <integer>15</integer>
    </dict>
    <key>public.kern1.three</key>
    <dict>
      <key>public.kern2.one</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.three.lf</key>
    <dict>
      <key>public.kern2.one.lf</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>public.kern2.nine</key>
      <integer>-10</integer>
      <key>public.kern2.seven</key>
      <integer>-10</integer>
      <key>public.kern2.six</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.two.lf</key>
    <dict>
      <key>public.kern2.nine.lf</key>
      <integer>-15</integer>
      <key>public.kern2.three.lf</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.u.fina</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>80</integer>
      <key>public.kern2.exclam</key>
      <integer>40</integer>
      <key>public.kern2.period</key>
      <integer>40</integer>
      <key>public.kern2.question</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>colon</key>
      <integer>15</integer>
      <key>public.kern2.comma</key>
      <integer>10</integer>
      <key>public.kern2.exclam</key>
      <integer>10</integer>
      <key>public.kern2.question</key>
      <integer>10</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>semicolon</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.v.fina</key>
    <dict>
      <key>colon</key>
      <integer>0</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.exclam</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.question</key>
      <integer>3</integer>
      <key>semicolon</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>10</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.zero.lf</key>
    <dict>
      <key>public.kern2.seven.lf</key>
      <integer>-15</integer>
      <key>public.kern2.zero.lf</key>
      <integer>-10</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>g</key>
      <integer>30</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.j</key>
      <integer>30</integer>
      <key>public.kern2.p</key>
      <integer>20</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.y</key>
      <integer>20</integer>
      <key>public.kern2.z</key>
      <integer>20</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>-30</integer>
    </dict>
    <key>uni006A0301</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>30</integer>
    </dict>
  </dict>
</plist>
